
h1 {
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); 
    text-align: center;
    color: white !important; 
    margin-bottom: 100px !important;
}


form {
    margin-bottom: 50px;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: darkcyan;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0a610a;
}

@media (min-width: 576px){
div.container {width:30%;}
}





